@import "../../styles/modulesImports";

.mobileNav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100px;

  @media (min-width: 769px) {
    display: none;
  }

  &Icon {
    font-size: 3.6rem !important; //TODO: Override MUI style without using !important
    color: $primary-blue;
    height: 100%;
    cursor: pointer;
  }
}
