@import "../../../styles/modulesImports";

.inputFieldWrapper {
  min-height: 80px;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.label {
  color: $primary-blue;
  font-size: 0.85rem;
  line-height: 1.2;
  padding-bottom: 6px;
}

.inputField {
  padding: 3px 6px;
  font-size: 16px;
  height: 2rem;
  border: 0;
  border-bottom: 1px solid $primary-gray;

  &:focus {
    outline: none;
    border-bottom: 1px solid $primary-blue;
  }
}

.errorMessage {
  color: $error-red;
  font-size: 0.75rem;
  line-height: 1;
  padding: 4px 0 2px;
}
